{% extends 'base.html' %}

{% block content %}
<h2 style="color: blue;" class="t-center">All Blog Posts</h2>


<div class="d-flex mt-3 ms-4 gap-4">
    {% for post in posts %}
<div class="card mt-3 ">
    <div class="card-body">
        <h4 style="color: brown;">{{ post.title }}</h4>
        <p>{{ post.content|truncatewords:20 }}</p>
        <small>By {{ post.author }} | {{ post.created_at }}</small>
        <br><br>
        <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Read More</a>

        {% if user == post.author %}
            <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
        {% endif %}
    </div>
</div>
{% endfor %}
</div>

{% endblock %}